html {
  background-color: #1b1b1d;
  background-image: radial-gradient(circle at top left, #1952d6, transparent),
  linear-gradient(65deg, #1b1b1d, #222);
  min-height: 1000px;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 95vh;
}

main {
  text-align: center;
  flex: 1 0 auto;
}

h1 {
  color: #f5f5f5;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #2a2a2d;
  border-radius: 5px;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.6);
}

#heading {
  background-color: #7826c4;
  text-align: center;
}

form.edit {
  display: flex;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #3b3b3d;
}

.item:last-child {
  border-bottom: 0;
}

input[type="checkbox"] {
  margin: 20px;
  margin-left: 0;
}

p {
  margin: 0;
  padding: 20px 0;
  font-size: 20px;
  color: #e6e6e6;
}

form {
  text-align: center;
  margin-left: 20px;
}

button.add {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #4b2e83;
  color: #fff;
  font-size: 30px;
  border-width: 0;
}

button.edit {
  margin-left: 0px;
  margin-right: 20px;
  border: none;
  background: none;
}

.icon {
  height: 20px;
}

input[type="text"] {
  text-align: left;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 80%;
  color: #f5f5f5;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #6b4db3;
}

::placeholder {
  color: #888;
  opacity: 1;
}

footer {
  flex: 0 0 auto;
  color: #ccc;
  text-align: center;
}

